///////////////////////////////////////////
//  COLORS

// primary colors
$color-primary: #4a4c67;

$color-primary-lighter-1: #6c6e8f;
$color-primary-lighter-2: #7A7BA6;

$color-secondary: #54BF9D;

$color-secondary-lighter-1: #67F1C8;

$color-tertiary: #FCF390;


// secondary colors
$color-black-1: #000;

$color-blue-light-1: #E0FBF3;

$color-gray-1: #dbd0d0;
$color-gray-2: #D1CFD2;

$color-white-1: #fefdfe;