.title-pseudo {
    width: 100%;
    padding: 4rem;
    margin-bottom: 6rem;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 6rem;
        width: .3rem;
        padding: 10px 4px;
        background-color: $color-secondary;
    }

    &::before {
        top: -5%;
        left: 51.5%;
        transform: rotate(30deg);
    }

    &::after {
        top: 65%;
        left: 48%;
        transform: rotate(30deg);
    }
}