body {
    font-family: sans-serif;
}

.font-size-smaller {
    font-size: 1.2rem;
}

.font-size-small {
    font-size: 1.4rem;
}

.font-size-default {
    font-size: 1.6rem;
}

.font-size-big {
    font-size: 2rem;
}

.font-size-bigger {
    font-size: 2.4rem;
}

.heading-primary {
    font-size: 5rem;
    letter-spacing: 1rem;
}

.heading-secondary {
    font-size: 2.4rem;
    letter-spacing: .2rem;
}

.letter-spacing-default {
    letter-spacing: 0;
}

.letter-spacing-big {
    letter-spacing: 1rem;
}

.paragraph-default {
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.text-default {
    font-size: 1.6rem;
    font-weight: 400;
}

.text-big {
    font-size: 1.8rem;
}

.text-uppercase {
    text-transform: uppercase;
}